# 1. Experiments with not control for the variable in between the path from cause to effect

ùë¶ùëñ=ùúè‚àóùëáùëñ+ùëíùëñ

## -Simulate a DGP

In [1]:
import pandas as pd
import numpy as np
import graphviz as gr

In [2]:
np.random.seed(24)
n = 1000

age = 18 + np.random.normal(15, 4, n).round(1)
college = np.random.binomial(1, 0.5, n)


waorkingyear = np.random.normal(5 + 2*college, 3).astype(int)

salary = np.random.normal(2000 + 0.2*age + 100*college + 5*waorkingyear, 500).astype(int)

salary = pd.DataFrame(dict(age=age,
                         college=college,
                         waorkingyear=waorkingyear,
                         salary=salary))

salary.to_csv("Q3b_data.csv", index=False)

## -DAG

In [3]:
g = gr.Digraph()


g.edge("college", "waorkingyear")

g.edge("college", "salary")

g.edge("waorkingyear", "salary")


g

## -Monte Carlo experiment

In [4]:
data = pd.read_csv("C:/Users/dell/Downloads/Q3b_data.csv")
data.head()

    age  college  waorkingyear  salary
0  38.3        0             0     858
1  29.9        1            12    2175
2  31.7        1             4    1771
3  29.0        0             4    1509
4  28.7        0             5    1691

In [5]:
import statsmodels.formula.api as smf
model = smf.ols('salary ~ age + college + waorkingyear', data=data).fit()
model.summary().tables[1]

In [6]:
print(data[["college", "salary"]].corr())

          college    salary
college  1.000000  0.121817
salary   0.121817  1.000000

In [7]:
def fn_generate_cov(dim):
    acc  = []
    for i in range(dim):
        row = np.ones((1,dim)) * corr
        row[0][i] = 1
        acc.append(row)
    return np.concatenate(acc,axis=0)

def fn_generate_multnorm(nobs,corr,nvar):

    mu = np.zeros(nvar)
    std = (np.abs(np.random.normal(loc = 1, scale = .5,size = (nvar,1))))**(1/2)
    # generate random normal distribution
    acc = []
    for i in range(nvar):
        acc.append(np.reshape(np.random.normal(mu[i],std[i],nobs),(nobs,-1)))
    
    normvars = np.concatenate(acc,axis=1)

    cov = fn_generate_cov(nvar)
    C = np.linalg.cholesky(cov)

    age = 18 + np.random.normal(15, 4, n).round(1)
    college = np.random.binomial(1, 0.5, n)


    waorkingyear = np.random.normal(5 + 2*college, 3).astype(int)

    Y = np.random.normal(2000 + 0.2*age + 100*college + 5*waorkingyear, 500).astype(int)


#     return (Y,np.round(np.corrcoef(Y,rowvar=False),2))
    return Y

In [8]:
import random
import statsmodels.api as sm
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedKFold
from sklearn.linear_model import Lasso
from sklearn.feature_selection import SelectFromModel
import matplotlib.pyplot as plt
from tqdm import tqdm
random.seed(10)

In [9]:
def fn_generate_data(tau,N,p,p0,corr,conf = True,flagX = False):
    """
    p0(int): number of covariates with nonzero coefficients
    """
    nvar = p+2 # 1 confounder and variable for randomizing treatment
    corr = 0 # correlation for multivariate normal

    if conf==False:
        conf_mult = 0 # remove confounder from outcome
        
    allX = fn_generate_multnorm(N,corr,nvar)
    age = 18 + np.random.normal(15, 4, n).round(1)
    T = np.random.binomial(1, 0.5, n)


    waorkingyear = np.random.normal(5 + 2*college, 3).astype(int)

    Yab = np.random.normal(2000 + 0.2*age + 100*college + 5*waorkingyear, 500).astype(int)

    if flagX==False:
        return (Yab,T)
    else:
        return (Yab,T,X)
    
    # regression discontinuity
#     W = W0 + 0.5*C+3*X[:,80].reshape([N,1])-6*X[:,81].reshape([N,1])
#     treated = 1*(W>0)
#     Yrdd = 1.2* treated - 4*W + X@beta0 +0.6*C+err

def fn_tauhat_means(Yt,Yc):
    nt = len(Yt)
    nc = len(Yc)
    tauhat = np.mean(Yt)-np.mean(Yc)
    se_tauhat = (np.var(Yt,ddof=1)/nt+np.var(Yc,ddof=1)/nc)**(1/2)
    return (tauhat,se_tauhat)

def fn_bias_rmse_size(theta0,thetahat,se_thetahat,cval = 1.96):
    """
    theta0 - true parameter value
    thetatahat - estimated parameter value
    se_thetahat - estiamted se of thetahat
    """
    b = thetahat - theta0
    bias = np.mean(b)
    rmse = np.sqrt(np.mean(b**2))
    tval = b/se_thetahat # paramhat/se_paramhat H0: theta = 0
    size = np.mean(1*(np.abs(tval)>cval))
    # note size calculated at true parameter value
    return (bias,rmse,size)

def fn_run_experiments(tau,Nrange,p,p0,corr,conf,flagX=False):
    n_values = []
    tauhats = []
    sehats = []
    lb = []
    ub = []
    for N in tqdm(Nrange):
        n_values = n_values + [N]
        if flagX==False:
            Yexp,T = fn_generate_data(tau,N,p,p0,corr,conf,flagX)
            Yt = Yexp[np.where(T==1)]
            Yc = Yexp[np.where(T==0)]
            tauhat,se_tauhat = fn_tauhat_means(Yt,Yc)            
        elif flagX==1:
            # use the right covariates in regression
            Yexp,T,X = fn_generate_data(tau,N,p,p0,corr,conf,flagX)
            Xobs = X[:,:p0]
            covars = np.concatenate([T,Xobs],axis = 1)
            mod = sm.OLS(Yexp,covars)
            res = mod.fit()
            tauhat = res.params[0]
            se_tauhat = res.HC1_se[0]
        elif flagX==2:
            # use some of the right covariates and some "wrong" ones
            Yexp,T,X = fn_generate_data(tau,N,p,p0,corr,conf,flagX)
            Xobs1 = X[:,:np.int(p0/2)]
            Xobs2 = X[:,-np.int(p0/2):]
            covars = np.concatenate([T,Xobs1,Xobs2],axis = 1)
            mod = sm.OLS(Yexp,covars)
            res = mod.fit()
            tauhat = res.params[0]
            se_tauhat = res.HC1_se[0]
            
        tauhats = tauhats + [tauhat]
        sehats = sehats + [se_tauhat]    
        lb = lb + [tauhat-1.96*se_tauhat]
        ub = ub + [tauhat+1.96*se_tauhat]
        
    return (n_values,tauhats,sehats,lb,ub)

In [10]:
tau = 105.3
corr = 0.12
conf=False
p = 2
p0 = 0 # number of covariates used in the DGP
Nrange = range(10,1000,2) # loop over N values
(nvalues,tauhats,sehats,lb,ub) = fn_run_experiments(tau,Nrange,p,p0,corr,conf)

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 495/495 [00:03<00:00, 156.78it/s]

In [11]:
estDict = {}
R = 2000
for N in [100,1000]:
    tauhats = []
    sehats = []
    for r in tqdm(range(R)):
        Yexp,T = fn_generate_data(tau,N,10,0,corr,conf)
        Yt = Yexp[np.where(T==1)]
        Yc = Yexp[np.where(T==0)]
        tauhat,se_tauhat = fn_tauhat_means(Yt,Yc)
        tauhats = tauhats + [tauhat]
        sehats = sehats + [se_tauhat]
    estDict[N] = {
        'tauhat':np.array(tauhats).reshape([len(tauhats),1]),
        'sehat':np.array(sehats).reshape([len(sehats),1])
    }

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 2000/2000 [00:11<00:00, 175.69it/s]
100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 2000/2000 [00:16<00:00, 120.38it/s]

In [12]:
tau0 = tau*np.ones([R,1])
for N, results in estDict.items():
    (bias,rmse,size) = fn_bias_rmse_size(tau0,results['tauhat'],
                                         results['sehat'])
    print(f'N={N}: bias={bias}, RMSE={rmse}, size={size}')

N=100: bias=-104.39730025287973, RMSE=108.84259908683966, size=0.92
N=1000: bias=-104.40097638360274, RMSE=109.14049173602058, size=0.911

# Real life example

Whether has collage degree and working experience will affect the salary.